* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #eceff1;
}

.img {
  height: 50px;
  width: 50px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 3em 2em !important;
}
